<h2 id='status'>CONTACT</h2>
          
    <form method="post" action="php/index.php" id='content' class='row-fluid'>
      
      <!-- Creating a place to input personal info. -->
      <section class='span3 offset1 info'> <!-- Left side  -->
      	
      	<label>Name</label>
	  	<input name="name" placeholder="Type Here">
            
	  	<label>Email</label>
	  	<input name="email" type="email" placeholder="Type Here">
      
      </section>
      
      <!-- This is where user can write message to owners -->
      <section class='span6 offset1 info'> <!-- Left side  -->
            
	  	<label>Message</label>
	  	<textarea name="message" placeholder="Type Here"></textarea>
	  	
      </section>
      
      <!-- basic math to counter robot attacks. Pew! Pew! Pew! -->
	  <section class='span7 offset2 info'>
	  	<label>What is 2+2? (Anti-spam)</label>
	  	<input name="human" placeholder="Type Here">
	  	
	  	<!-- Submit the form and launch the mailer php thing. -->
	  	<input class='btn btn-primary offset2' id="submit" name="submit" type="submit" value="Submit">
	  </section>
      
      
      
      
      
    </form>
    
    
    
    