<h2 id='status'>COPYRIGHT</h2>
          
    <div id='content' class='row-fluid'>
      
      <div class='span12 info'>
      	<h2>Copyright</h2>
      	<p>Legal stuff I don't know about.<br />
	      	Cinema Plus owns their stuff. <br />
	      	Rotten Tomatoes API owns their stuff. <br />
	      	The movie people REALLY own their stuff.<br />
	      	Site by Ryan Purdy <a href="http://www.purdyFX.com"> www.purdy<span style="color: red;">FX</span>.com</a>
      	</p>
      </div>      
    </div>
    
    
    
    